// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600&display=swap');

// Sizing
$h_nav: 72px;

// Margins
$m_side: 50px;
$m_side-blog: 250px;

// Fonts
$f_title: 56px;
$f_heading: 36px;
$f_nav: 16px;
$f_nav-title: 22px;
$f_subtext: 14px;

// Colors
$c_dark: #000000;
$c_dark-alt: #14213d;
$c_light: #ffffff;
$c_light-alt: #e5e5e5;
$c_accent: #fca311;


// Apply to all
* {

    // Sizing
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // Font
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    // Smooth transition
    transition: 0.1s;
}


// Align elements in grid
body {

    // Grid
    display: grid;
    grid-template-areas: "nav" "content";
    grid-template-columns: auto;
    grid-template-rows: $h_nav auto;

    // Main view
    .content {
        grid-area: content;
        padding: 0 $m_side;
    }
}


// Mobile CSS
@media only screen and (max-width: 600px) {
    .content {
        padding: 32px !important;
    }
}