@import "main";
@import "partials/nav";


// Blog list
.content {
    padding: 16px $m_side-blog !important;
    display: grid;
    grid-template-columns: auto;

    // Post
    a.post {

        // Sizing
        width: 100%;
        height: fit-content;
        padding: 16px;

        // Theming
        background-color: $c_light-alt;
        border-radius: 5px;
        color: $c_dark;

        // Accent on hover
        &:hover {
            background-color: $c_accent;
            color: $c_light;
        }

        // Text
        p {

            // Main title
            &.title {
                font-size: $f_heading;
                padding-bottom: 4px;
            }

            // Subtext
            &.date {
                font-size: $f_subtext;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 32px !important;
    }
}