@import "main";
@import "partials/nav";


// Main content
.content {
    display: grid;
    grid-template-columns: auto;

    // Top elemet
    .heading {
        height: 300px;
        display: flex;
        align-items: center;

        // Title
        p.title {
            font-size: $f_title;
            padding: 12px 0;

            // Logo theming
            span {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;

                &.accent {
                    color: $c_accent;
                }
            }
        }

        // Blog link
        a {
            color: $c_dark-alt;
            text-decoration: underline;

            &:hover {
                color: $c_accent;
            }
        }
    }
}


// Mobile CSS
@media only screen and (max-width: 600px) {
    .heading {
        height: fit-content !important;

        p.title {
            padding: 0 !important;
        }
    }
}