doctype html
html(lang="en")
    head
        include partials/head
    body
        div.content
            div.center
                p 404

                if wrong == "blog"
                    p Blog page not found