doctype html
html(lang="en")
    head
        include partials/head
        link(rel="stylesheet" href="/css/blog.min.css")
    body 
        include partials/nav
        div.content.blog
            | !{data}