doctype html
html(lang="en")
    head
        include partials/head
        link(rel="stylesheet" href="/css/blog-index.min.css")
    body
        include partials/nav
        div.content
            each post in posts
                a(href=post.replace(".md", "")).post
                    p.title= titles[posts.indexOf(post)]
                    p.date= post.substring("5").replace("/", "-").replace("/", "-").replace(".md", "")