doctype html
html(lang="en")
    head
        include partials/head
        link(rel="stylesheet" href="/css/home.min.css")
    body
        include partials/nav
        div.content
            div.heading
                div
                    p.title #[span Libre#[span.accent POS]] coming soon
                    p Check our #[a(href="/blog") blog] for more information