.blog {
    padding: 0 $m_side-blog !important;

    // Title
    h1 {
        font-size: $f_title;
        padding: 16px 0 32px 0;
        font-weight: 600;
    }

    // Main text
    p {
        padding-bottom: 12px;
    }
}


// Mobile CSS
@media only screen and (max-width: 600px) {
    .blog {
        padding: 32px !important;
    }
}