.nav {

    // Sizing
    grid-area: nav;
    padding: 0 8px;

    // Theming
    background-color: $c_dark-alt;

    // List
    ul {
        height: 100%;
        display: flex;
        align-items: center;

        // Elements
        li {
            display: inline-block;
            padding-right: 8px;

            // Links
            a {

                // Sizing
                padding: 12px;
                display: block;

                // Theming
                color: $c_light;
                font-size: $f_nav;
                border-radius: 4px;

                // Link hover
                &:hover {
                    background-color: $c_accent;
                    
                    span {
                        color: $c_light;
                    }
                }

                // Logo
                &.title {
                    font-size: $f_nav-title;
                    padding: 9px;
                    font-family: 'Montserrat', sans-serif;
                }

                // Accent color
                span {
                    color: $c_accent;
                }
            }
        }
    }
}